{% extends 'shop/base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
    <div class="col text-left ml-5 mt-5">
            <div class="card" style="width: 30rem;">
                <div class="card-header success-color white-text">
                    <h1>Profile</h1>
                </div>
                <div class="card-body">

                    <table class="table">
                            <tbody>
                              <tr>
                                <td>Username:</td>
                                <td>{{ user }}</td>
                              </tr>
                              <tr>
                                <td>First name:</td>
                                <td>{{ user.first_name }}</td>
                              </tr>
                              <tr>
                                <td>Last name:</td>
                                <td> {{ user.last_name }}</td>
                              </tr>
                            <tr>
                                <td>Email: </td>
                                <td> {{ user.email }}</td>
                            </tr>
                            </tbody>
                          </table>
                </div>
                <div class="card-footer">
                        <div class="d-flex">
                                <div class="p-2"><a class="btn btn-outline-primary" href="{% url 'edit_profile' %}" >Edit Profile</a></div>
                                <div class="p-2"><a class="btn btn-outline-success" href="{% url "change_password" %}">Change Password</a></div>
                        </div>
                </div>
            </div>
        </div>
{% endblock content %}