{% extends 'shop/base.html' %} {% block content %}
<form method="post" action="">
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <div class='col-md-2'></div>

            <div class="col-sm-8">
                <div class="login-box well">
                    <form action="">
                        <legend>Sign up</legend>
                        <div class="form row">
                            <div class="form-group col-md-6">
                                <tr>
                                    <th><label for="id_first_name">First name:</label></th>
                                    <td><input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name"
                                        /></td>
                                </tr>
                            </div>
                            <div class="form-group col-md-6">
                                <tr>
                                    <th><label for="id_last_name">Last name:</label></th>
                                    <td><input class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name"
                                        /></td>
                                </tr>
                            </div>
                        </div>

                </div>
                <div class="form-group">
                    <tr>
                        <th><label for="id_username">Username:</label></th>
                        <td>
                            </ul><input class="form-control" type="text" name="username" maxlength="150" required id="id_username"
                            /></td><br>
                    </tr>
                </div>
                <div class="form-group">
                    <tr>
                        <th><label for="id_password">Password:</label></th>
                        <td>
                            </ul><input class="form-control" type="password" name="password" required id="id_password" /></td><br>
                    </tr>
                </div>
                <div class="form-group">
                    <tr>
                        <th><label for="id_confirm_password">Confirm password:</label></th>
                        <td>
                            </ul><input class="form-control" type="password" name="confirm_password" required id="id_confirm_password" /></td><br>
                    </tr>
                </div>
                <div class="form-group">
                    <tr>
                        <th><label for="id_email">Email address:</label></th>
                        <td><input class="form-control" type="email" name="email" maxlength="254" id="id_email" /></td><br>
                    </tr>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default btn-login-submit btn-block m-t-md" value="Sign up" />
                </div>
                <span class='text-center'><a href="/resetting/request" class="text-sm">Forgot Password?</a></span>
                <div class="form-group">
                    <p class="text-center m-t-xs text-sm">Do not have an account?</p>
                    <a href="/accounts/register/" class="btn btn-default btn-block m-t-md">Create an account</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</form>

{% endblock content %}