{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
        {% csrf_token %}
        <input type="text" name="search" id="search" placeholder="Search">
        <ul id="search-results">
        </ul>

    </div>
    <div id="subheader">
        <div class="accounts">
            <ul class="login" style="list-style-type: none; margin: 0;">
                {% if request.user.is_authenticated %}

                    <li style="float:left; margin: 0 10px 0 0;"><a href="#">{{ request.user.username }}</a></li>
                    <li ><a href="{% url 'logout' %}">Đăng xuất</a></li>
                {% else %}
                    <li style="float:left; margin: 0 10px 0 0;"><a href="{% url 'logins' %}">Đăng nhập</a></li>
                    <li><a href="{% url 'register' %}">Đăng ký</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_item|pluralize }}, {{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static "js/jquery-2.0.0.min.js" %}"></script>
    <script src="{% static "js/ajax.js" %}"></script>
</body>
</html>
